.container {
    position: relative;
    min-height: 100vh;
}

.background {
    background-image: url('../media/00004-3147071911.png');
    background-size: cover;/*充满屏幕*/
    min-height: 100vh; /* 最小高度为视窗高度 */
    /* height: auto; /*展开超过100vh时可以补全 */
    background-attachment: fixed;
    z-index: -100; /* 确保背景在文本下面 */
}
.embedded .background {/* 嵌入时清除背景 */
    background: transparent;
}
body {
    margin: 0;
    padding: 20;
    font-family: Arial, sans-serif;
}
#chart {
    width: 70%;
    height: 600px;
    margin: auto;
    display: flex;
    justify-content: center; /* 水平居中 */
}
.info-box {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    pointer-events: none;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    color: rgb(231, 27, 197);
    font-size: 30px;
    font-family: 'Comic Sans MS';
}
.embedded h1 {
    display: none;
}
p{
    color: rgb(255, 255, 255);
}
.hover {
    background-color: rgba(0, 0, 0, 0.5);
}
