.container {
    position: relative;
    /* display: flex;
    flex-wrap: wrap; */
}

.background-img {
    height: auto;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -100;
}


body, html {
    color: white; /* 设置所有文本颜色为白色 */
    margin: 0;
    padding: 0;
  }
  
.autocontainer{
    min-height: 200px;
    height: auto;
}

.subtitle {
    font-size: 15px;
    color: rgba(255, 165, 117, 0.682);
}

button {
    border: 1px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    padding: 0px 10px;
    transition: all 0.3s ease;
  }
  
button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.contentback{
    padding: 1px 10px;
    background-color: rgba(0, 0, 0, 0.49);
}