
    body {
    /* background-image: url('https://i.ytimg.com/vi/emrt46SRyYs/maxresdefault.jpg'), url('https://i.ytimg.com/vi/emrt46SRyYs/maxresdefault.jpg');
    background-size: 50% 50%, cover;
    background-position: center, center;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll; */
        margin: 0;
		padding: 0;
        background-color: rgb(40, 40, 40);
    }
    .container {
        position: relative;
        /* display: flex;
		flex-wrap: wrap; */
    }

    .fixed-twitter {
        opacity: 0.8;
        position: fixed;
        top: 0;
        right: 0;
        width: 300px;
        background-color: rgba(0, 0, 0, 0);
        z-index: 999;
    }
      

    .background {
        background-image: url('../media/00004-3147071911.png');
        background-size: cover;/*充满屏幕*/
        background-repeat: no-repeat;
        background-position: center center;
        /* 我们使用了"vh"（视口高度）单位来设置背景的高度，确保它始终充满整个屏幕。 */
        /* height: 100vh;*/
        background-attachment: fixed;
        z-index: -1; /* 确保背景在文本下面 */
    }
    .content {
        z-index: 0
    }

    /* 第一张背景图片
    body::before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://i.ytimg.com/vi/emrt46SRyYs/maxresdefault.jpg');
    }

    /* 第二张背景图片 */
    /* body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-image: url('https://i.ytimg.com/vi/emrt46SRyYs/maxresdefault.jpg');
    filter: blur(4px); /* 第二张背景图片的滤镜效果 */
/* } */
.center {
    text-align: center;
}
h1 {
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 60px;
}

h2 {
    margin: 0;
    padding: 0;
    color: rgb(255, 136, 73);
    text-align: center;
    font-size: 40px;
}

p {
    color: white;
    font-size: 30px;
    line-height: 1.5;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 10px;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

li {
    margin: 0 10px;
}

a{
    color: white;
    text-decoration: underline;
    font-size: 30px;
    padding: 10px;
    background-color: rgba(5, 5, 5, 0.5);
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

a:hover {
    transform: scale(1.1);
    background-color: rgba(5, 5, 5, 0.5);
}

.father-project-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 300px;
}

.project-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;/* 让project第一个完全显示向右排开，如果改为center，则左边超出也会被隐藏 */
    align-items: center;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* for smooth scrolling on iOS */

}

.project {
    flex: 0 0 auto; /* prevent items from stretching to fill width */
    margin: 20px;
    width: 300px;
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
    /* overflow: hidden; */
    
}
.project::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    font-size: 24px;
    bottom: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5); /* 背景颜色带透明度 */
    display: flex;
    width: 300px;

    transform: translate(0, 0); /* 向左上方移动一半宽度和高度的距离 */
}


.project:hover .project-overlay {
    opacity: 1;
}

.project img {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.project:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.project-title {
    color: white;
    font-size: 10px;
}
